@model Amazon_.Models.CartDetail
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body {
            position: relative;
            overflow-x: hidden;
            background-color: #ffffff;
        }

        body,
        html {
            height: 100%;
        }

        body {
            background: #00008020;
        }

        .nav .open > a,
        .nav .open > a:hover,
        .nav .open > a:focus {
            background-color: transparent;
        }

        /*-------------------------------*/
        /*                     */
        /*-------------------------------*/

        #home {
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

            #home.toggled {
                padding-left: 220px;
            }

        #sidebar-home {
            z-index: 1000;
            left: 220px;
            width: 0;
            height: 100%;
            margin-left: -220px;
            overflow-y: auto;
            overflow-x: hidden;
            background: #ffffff;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        }

            #sidebar-home::-webkit-scrollbar {
                display: none;
            }

        #home.toggled #sidebar-home {
            width: 220px;
        }

        #page-content-home {
            width: 100%;
            padding-top: 70px;
        }

        #home.toggled #page-content-home {
            position: absolute;
            margin-right: -220px;
        }

        /*-------------------------------*/
        /*     Sidebar nav styles        */
        /*-------------------------------*/
        .navbar {
            padding: 0;
        }

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 220px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .sidebar-nav li {
                cursor: pointer;
                position: relative;
                line-height: 20px;
                display: inline-block;
                width: 100%;
                padding-top: 2px;
                color: #2f4f4f;
                padding-bottom: 2px;
                font-weight: 100;
                padding-left: 40px;
            }

                .sidebar-nav li:nth-child(1),
                .sidebar-nav li:nth-child(10) {
                    cursor: default
                }

                .sidebar-nav li:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    height: 100%;
                    width: 0px;
                    background-color: #1c1c1c;
                    -webkit-transition: width .2s ease-in;
                    -moz-transition: width .2s ease-in;
                    -ms-transition: width .2s ease-in;
                    transition: width .2s ease-in;
                }

                .sidebar-nav li:nth-child(1):hover,
                .sidebar-nav li:nth-child(2):hover,
                .sidebar-nav li:nth-child(3):hover,
                .sidebar-nav li:nth-child(4):hover,
                .sidebar-nav li:nth-child(5):hover,
                .sidebar-nav li:nth-child(6):hover,
                .sidebar-nav li:nth-child(7):hover,
                .sidebar-nav li:nth-child(8):hover,
                .sidebar-nav li:nth-child(9):hover {
                    background: #19197040 !important;
                }

                .sidebar-nav li:nth-child(7) {
                    background: #19197040 !important;
                }

                .sidebar-nav li a {
                    display: block;
                    color: #ddd;
                    text-decoration: none;
                    padding: 10px 15px 10px 0px;
                    letter-spacing: 1px;
                    font-size: 12px;
                    font-weight: 600;
                }

                    .sidebar-nav li a:hover,
                    .sidebar-nav li a:active,
                    .sidebar-nav li a:focus,
                    .sidebar-nav li.open a:hover,
                    .sidebar-nav li.open a:active,
                    .sidebar-nav li.open a:focus {
                        color: #fff;
                        text-decoration: none;
                        background-color: transparent;
                    }

        .sidebar-header {
            text-align: center;
            font-size: 20px;
            position: relative;
            width: 100%;
            display: inline-block;
        }

        .sidebar-brand {
            height: 65px;
            position: relative;
            /*background: #212531;
            background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);*/
            padding-top: 1em;
        }

        .dropdown-header {
            text-align: center;
            font-size: 1em;
            color: #ddd;
            background: #212531;
            background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
        }

        .sidebar-nav .dropdown-menu {
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: none;
            background-color: #222;
            box-shadow: none;
        }

        .dropdown-menu.show {
            top: 0;
        }

        .hamburger {
            position: fixed;
            top: 20px;
            z-index: 999;
            display: block;
            width: 32px;
            height: 32px;
            margin-left: 15px;
            background: transparent;
            border: none;
        }

            .hamburger:hover,
            .hamburger:focus,
            .hamburger:active {
                outline: none;
            }

            .hamburger.is-closed:before {
                content: '';
                display: block;
                width: 100px;
                font-size: 14px;
                color: #fff;
                line-height: 32px;
                text-align: center;
                opacity: 0;
                -webkit-transform: translate3d(0,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed:hover:before {
                opacity: 1;
                display: block;
                -webkit-transform: translate3d(-100px,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed .hamb-top,
            .hamburger.is-closed .hamb-middle,
            .hamburger.is-closed .hamb-bottom,
            .hamburger.is-open .hamb-top,
            .hamburger.is-open .hamb-middle,
            .hamburger.is-open .hamb-bottom {
                position: absolute;
                left: 0;
                height: 4px;
                width: 100%;
            }

            .hamburger.is-closed .hamb-top,
            .hamburger.is-closed .hamb-middle,
            .hamburger.is-closed .hamb-bottom {
                background-color: #1a1a1a;
            }

            .hamburger.is-closed .hamb-top {
                top: 5px;
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed .hamb-middle {
                top: 50%;
                margin-top: -2px;
            }

            .hamburger.is-closed .hamb-bottom {
                bottom: 5px;
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed:hover .hamb-top {
                top: 0;
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-closed:hover .hamb-bottom {
                bottom: 0;
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-open .hamb-top,
            .hamburger.is-open .hamb-middle,
            .hamburger.is-open .hamb-bottom {
                background-color: #1a1a1a;
            }

            .hamburger.is-open .hamb-top,
            .hamburger.is-open .hamb-bottom {
                top: 50%;
                margin-top: -2px;
            }

            .hamburger.is-open .hamb-top {
                -webkit-transform: rotate(45deg);
                -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
            }

            .hamburger.is-open .hamb-middle {
                display: none;
            }

            .hamburger.is-open .hamb-bottom {
                -webkit-transform: rotate(-45deg);
                -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
            }

            .hamburger.is-open:before {
                content: '';
                display: block;
                width: 100px;
                font-size: 14px;
                color: #fff;
                line-height: 32px;
                text-align: center;
                opacity: 0;
                -webkit-transform: translate3d(0,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

            .hamburger.is-open:hover:before {
                opacity: 1;
                display: block;
                -webkit-transform: translate3d(-100px,0,0);
                -webkit-transition: all .35s ease-in-out;
            }

        /*-------------------------------*/
        /*            Overlay            */
        /*-------------------------------*/

        .card_cover {
            background: #ffffff;
            border-left: 2px solid transparent;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            cursor: pointer;
        }

        .user_card {
            background: #ffffff;
            border-left: 2px solid #191970;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }

        .card_cover:hover {
            border-left: 2px solid #6495ed;
        }

        .p_tag {
            color: #808080;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 24px;
        }

        .image {
            width: 100%;
            height: 26vh;
        }

        .mark_delivered, .remove_details {
            cursor: pointer;
            padding: 10px 20px 10px 20px;
            font-size: 12px;
            letter-spacing: 1px;
            border: none;
            outline: none;
            color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }

         .mark_delivered{
             background: #191970a0;
         }

            .mark_delivered:hover {
                background: #191970d0;
            }

        .remove_details {
            background: #c71585a0;
        }

            .remove_details:hover {
                background: #c71585d0;
            }

        .mark_undelivered {
            cursor: pointer;
            padding: 10px 20px 10px 20px;
            font-size: 12px;
            letter-spacing: 1px;
            border: none;
            outline: none;
            color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            background: #6495eda0;
        }

            .mark_undelivered:hover {
                background: #6495edd0;
            }
    </style>
</head>
<body>
    <div id="home">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-home" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand" style="display:flex;align-items:center;padding-left: 30px;">
                        <div class="d-flex flex-row align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#2f4f4f" class="bi bi-strava" viewBox="0 0 16 16">
                                <path d="M6.731 0 2 9.125h2.788L6.73 5.497l1.93 3.628h2.766L6.731 0zm4.694 9.125-1.372 2.756L8.66 9.125H6.547L10.053 16l3.484-6.875h-2.112z" />
                            </svg>&nbsp;
                            <p href="#" style="text-decoration: none; font-size: 20px; color:#2f4f4f;">Welcome!!</p>
                        </div>
                    </div>
                </div>
                <li style="display:flex; align-items: center;" onclick="location.href = '@Url.Action("Dashboard", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16">
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z" />
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z" />
                    </svg>&nbsp;&nbsp;
                    <a>Dashboard</a>
                </li>
                <li style="display:flex; align-items: center;" onclick="location.href = '@Url.Action("AddProduct", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg>&nbsp;&nbsp;
                    <a>Add Product</a>
                </li>
                <li style="display:flex; align-items: center;" onclick="location.href = '@Url.Action("Products", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-x-diamond-fill" viewBox="0 0 16 16">
                        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L4.047 3.339 8 7.293l3.954-3.954L9.049.435zm3.61 3.611L8.708 8l3.954 3.954 2.904-2.905c.58-.58.58-1.519 0-2.098l-2.904-2.905zm-.706 8.614L8 8.708l-3.954 3.954 2.905 2.904c.58.58 1.519.58 2.098 0l2.905-2.904zm-8.614-.706L7.292 8 3.339 4.046.435 6.951c-.58.58-.58 1.519 0 2.098l2.904 2.905z" />
                    </svg>&nbsp;&nbsp;
                    <a>Products</a>
                </li>
                <li style="display:flex; align-items: center;" onclick="location.href = '@Url.Action("Users", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-cloud-rain-heavy-fill" viewBox="0 0 16 16">
                        <path d="M4.176 11.032a.5.5 0 0 1 .292.643l-1.5 4a.5.5 0 0 1-.936-.35l1.5-4a.5.5 0 0 1 .644-.293zm3 0a.5.5 0 0 1 .292.643l-1.5 4a.5.5 0 0 1-.936-.35l1.5-4a.5.5 0 0 1 .644-.293zm3 0a.5.5 0 0 1 .292.643l-1.5 4a.5.5 0 0 1-.936-.35l1.5-4a.5.5 0 0 1 .644-.293zm3 0a.5.5 0 0 1 .292.643l-1.5 4a.5.5 0 0 1-.936-.35l1.5-4a.5.5 0 0 1 .644-.293zm.229-7.005a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 10H13a3 3 0 0 0 .405-5.973z" />
                    </svg>&nbsp;&nbsp;
                    <a>Users</a>
                </li>
                <li style="display:flex; align-items: center;" onclick="location.href='@Url.Action("Categories", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-layers-fill" viewBox="0 0 16 16">
                        <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                        <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                    </svg>&nbsp;&nbsp;
                    <a>Categories</a>
                </li>
                <li style="display:flex; align-items: center;" onclick="location.href='@Url.Action("Orders", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-tree-fill" viewBox="0 0 16 16">
                        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5z" />
                    </svg>&nbsp;&nbsp;
                    <a>Orders</a>
                </li>
                <li style="display:flex; align-items: center;" onclick="location.href='@Url.Action("About", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                    </svg>&nbsp;&nbsp;
                    <a>About</a>
                </li>
                <li style="display:flex; align-items: center;" onclick="location.href = '@Url.Action("LogOut", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg>&nbsp;&nbsp;
                    <a>Sign Out</a>
                </li>
                <li style="display:flex;align-items:center;justify-content:space-around;text-align:center;">
                    <img src="~/images/Statue of liberty_Monochromatic.svg" class="img-fluid" style="width: 80%; height: 26vh;" />
                </li>
            </ul>
        </nav>

        <div id="page-content-home">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container px-5">
                <div class="row px-3">
                    <div class="col-lg-10 col-lg-offset-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#6495ed" class="bi bi-box-arrow-left" viewBox="0 0 16 16" style="cursor:pointer;" onclick="location.href='@Url.Action("Orders", "Home")'">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                        </svg>
                        <div class="user_card col-lg-6 m-auto p-4">
                            <div class="row m-0 p-0">
                                <div class="col-lg-8 m-0 p-0">
                                    <p class="p_tag">Username: @Model.user.UserName</p>
                                    <p class="p_tag">Name: @Model.user.Name</p>
                                    <p class="p_tag">Email: @Model.user.Email</p>
                                    <p class="p_tag">City: @Model.user.City</p>
                                </div>
                                <div class="col-lg-4 m-0 p-0">
                                    <img src="@Url.Content(Model.user.UserImage)" class="img-fluid image" />
                                </div>
                                <div class="card-footer text-center" style="font-size: 10px; letter-spacing: 1px; color: #808080;">Date & Time Of Registration: @Model.user.DateTime</div>
                            </div>
                            <div class="p-2" style="border-bottom: 1px solid #80808040;"></div>
                            <div class="p-2"></div>
                            <div class="row m-0 p-0">
                                <div class="col-lg-8 m-0 p-0">
                                    <p class="p_tag">Product: @Model.product.ProductName</p>
                                    <p class="p_tag">Category: @Model.product.ProductCategory</p>
                                    <p class="p_tag">Company: @Model.product.Company</p>
                                    <p class="p_tag">Price: Rs @Model.product.Price</p>
                                    <p class="p_tag">Quantity Available: @Model.product.Quantity</p>
                                </div>
                                <div class="col-lg-4 m-0 p-0">
                                    <img src="@Url.Content(Model.product.ImageUrl)" class="img-fluid image" />
                                </div>
                                <div class="card-footer text-center" style="font-size: 10px; letter-spacing: 1px; color: #808080">Date & Time Of Entry: @Model.product.DateTime</div>
                            </div>
                            <div class="p-2" style="border-bottom: 1px solid #80808040;"></div>
                            <div class="p-2"></div>
                            <div class="m-0 p-0">
                                <p class="p_tag">Quantity Ordered: @Model.cart.QuantityOrdered</p>
                                <p class="p_tag">Net Price: Rs @Model.cart.NetPrice</p>
                                <p class="p_tag">Date & Time: @Model.cart.DateTime</p>
                                <p class="p_tag">Delivery Address: @Model.cart.DeliveryAddress</p>
                                <p class="p_tag">Status: @Model.cart.Status</p>
                            </div>
                            <div class="p-4"></div>
                            <div class="d-flex flex-row align-items-center justify-content-between m-0 p-0">
                                @if (Model.cart.Status.ToLower().Equals("delivered"))
                                {
                                    <button class="mark_undelivered" onclick="location.href='@Url.Action("MarkDelivered", "Home", new { CartId=Model.cart.Id })'">Mark Undelivered</button>
                                }
                                else
                                {
                                    <button class="mark_delivered" onclick="location.href='@Url.Action("MarkDelivered", "Home", new { CartId=Model.cart.Id })'">Mark Delivered</button>
                                }

                                <button class="remove_details" onclick="location.href='@Url.Action("RemoveDetails", "Home", new { CartId=Model.cart.Id })'">Remove Details</button>
                            </div>
                        </div>
                        <div class="p-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#home').toggleClass('toggled');
            });
        });
    </script>
</body>
</html>